* {
    box-sizing: border-box;
}

body {
    font-size: 14px;
    text-align: center;
    background-color: #f6f6f6;
}

ul,
ol,
li {
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-type: none;
}
input {
    border-style: groove;
    width: 200px;
}
button {
    border-style: groove;
    cursor: pointer;
    border: none;
    background: none;
}
.shadow {
    box-shadow: 5px 10px 10px rgba(0,0,0,0.1);
}